/*PARA TODO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
    min-height: 100vh;
}
/***********/

/*FONTS FAMILY*/
@font-face {
    font-family: 'Briem Hand';
    src: url(../fonts/BriemHand-Black.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'SedanSC';
    src: url(../fonts/SedanSC-Regular.ttf);
    font-style: normal;
}
/**************/

/*BODY LOGIN & REGISTER*/
.body-reg-log {
    background-image: url(../img/bg-tree.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/***********************/

/*BODY ANOTHER PAGES*/
.body-home {
    background-color: rgb(182, 182, 182);
}

.body-nutricion {
    background-color: rgb(30, 30, 30);
}

.body-imc {
    background: rgb(202,254,255);
    background: radial-gradient(circle, rgba(202,254,255,1) 0%, rgba(59,182,255,1) 100%);
}

.body-contacto {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,159,1) 100%);
}
/********************/

/*GENERAL*/
main {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

h1 {
    padding: .5rem;
    font-size: 30px;
    font-family: 'SedanSC', sans-serif;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(245, 245, 245, 0.10);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button {
    width: 100%;
    max-width: 100px;
    background: transparent;
    padding: .5rem;
    margin-top: 5px;
    border: 2px solid rgb(27, 121, 74);
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    text-shadow: -1px 0px 4px rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 300ms ease;
}

button:hover {
    background-color: rgb(144, 255, 134);
}

input {
    font-family: cursive;
    font-weight: 600;
}

input:focus {
    background-color: rgba(255, 255, 203, 0.2);
}

input::placeholder, textarea::placeholder {
    font-weight: 600;
    font-family: "SedanSC", sans-serif;
    font-style: normal;
}

p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Briem Hand', sans-serif;
    font-size: 26px;
    margin-top: 10px;
    text-shadow: -3px 0px 2px rgba(255, 255, 255, 1);
}

span {
    font-family: 'SedanSC', sans-serif;
    font-weight: 600;
    color: red;
    text-shadow: -1px -1px 1px rgb(0, 0, 0);
}
/*********/

/*<A> FORM LOG & REG*/
.a-log-leg {
    text-decoration: none;
    color: rgba(72, 98, 0, 0.6);
    transition: all 300ms ease;
}

.a-log-leg:hover {
    filter: brightness(1.3);
    text-decoration: underline;
}
/********************/

/*FORM REGISTER*/
.form-reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    width: 100%;
    padding: 1rem;
    background-color: rgba(245, 245, 245, 0.55);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.form-reg input {
    font-family: 'SedanSC', sans-serif;
    font-weight: 600;
    padding: .8rem;
    margin-top: 15px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/***************/

/*FORM LOGIN*/
.form-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 100%;
    padding: 3rem;
    background-color: rgba(245, 245, 245, 0.55);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.form-log input {
    font-family: 'SedanSC', sans-serif;
    font-weight: 600;
    padding: .8rem;
    margin-top: 15px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/************/

/*NAV*/
.navbar {
    padding: 1rem;
    background: rgb(91,91,91);
    background: radial-gradient(circle, rgba(91,91,91,0.8038793103448276) 48%, rgba(255,255,255,1) 100%);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

nav .a {
    font-family: 'SedanSC', sans-serif;
    font-weight: 600;
    color: black;
    text-decoration: none;
    transition: all 200ms linear;
}

nav .a:hover {
    filter: brightness(1.3);
    color: whitesmoke;
    text-shadow: 2px 1px 4px rgb(0, 0, 0);
}
/*****/

/*FOOTER*/
footer {
    position: relative;
    margin: auto;
    padding: .4rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

footer div {
    position: absolute;
    top: 0;
}

footer div h4 {
    font-family: 'SedanSC', sans-serif;
    font-weight: 600;
    color: rgb(147, 147, 147);
    text-shadow: -3px 0px 1px rgba(255, 255, 255, 1);
}

footer a {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: .2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: all 200ms ease;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

footer a:hover {
    color: whitesmoke;
    background-color: black;
    filter: brightness(1.7);
    border: 2px solid whitesmoke;
}
/********/

/*HOME*/
/*HOME HEADER*/
header {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

}

header img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 350px;
}

header h2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 10px);
    margin: auto;
    font-size: 26px;
    font-family: 'SedanSC', sans-serif;
    color: rgba(245, 245, 245);
    text-shadow: 2px 1px 4px rgb(255, 255, 255);
}
/*************/

/*FOTOS HOME*/
.fotos {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 900px;
    min-width: 400px;
    border-radius: .5rem;
    background-color: rgba(245, 245, 245, 0.7);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.foto1, .foto2 {
    width: 350px;
    min-width: 200px;
}

.foto1 img {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
}

.foto2 img {
    margin: auto;
    margin-top: 10px;
    margin-left: 25px;
    width: 100%;
    max-width:300px;
    min-width: 150px;
}

.foto1 p, .foto2 p {
    font-size: 12px;
    margin-top: 10px;
    text-shadow: none;
}
/************/
/******/

/*RUTINA*/
.secc-rutine {
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgb(30, 30, 30);
    min-height: 100vh;
}

.secc-rutine p {
    font-size: 14px;
    font-family: monospace, sans-serif;
    font-weight: 600;
    max-height: 400px;
    color: whitesmoke;
    text-shadow: none;
    overflow-y: scroll;
}

.secc-rutine img {
    width: 100%;
    height: auto;
    border-radius: .3rem;
}
/********/

/*NUTRICIÓN*/
.secc-nutricion {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .3rem;
    gap: 5px;
    /* background-image: url(../img/bg-secc-nutricion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    min-height: 100vh;
    background-color: rgb(134, 134, 134);
}

.secc-nutricion p {
    font-size: 14px;
    font-family: monospace, sans-serif;
    font-weight: 600;
    max-height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgba(245, 245, 245, 0.7);
    text-shadow: none;
    border-radius: .5rem;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.secc-nutricion img {
    width: 100%;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/***********/

/*CALCULAR IMC*/
.secc-imc {
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.secc-imc img {
    width: 100%;
    max-width: 400px;
}

.secc-imc input {
    padding: 1rem;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.secc-imc input[type="button"] {
    background: transparent;
    font-weight: 600;
    font-family: 'SedanSC', sans-serif;

    border: 2px solid rgb(83, 83, 83);
    color: rgb(83, 83, 83);
    transition: all 200ms linear;
}

.secc-imc input[type="button"]:hover {
    filter: brightness(1.2);
    background-color: rgb(161, 210, 255);
    color: black;
    border: 2px solid black;
    text-shadow: -1px 1px 3px rgb(255, 255, 255);
}
/**************/

/*CONTACTO*/
.form-contacto {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    place-content: center;
    align-items: center;
}

.form-contacto input, .form-contacto textarea {
    font-family: 'SedanSC', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: .4rem;
    outline: none;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form-contacto input:focus, .form-contacto textarea:focus {
    background: rgb(34,195,191);
    background: linear-gradient(0deg, rgba(34,195,191,0.6961206896551724) 0%, rgba(45,73,253,0.7004310344827587) 100%);
}

.form-contacto input[type="submit"] {
    padding: .5rem;
    width: 20%;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: whitesmoke;
    transition: all 300ms ease;
}

.form-contacto input[type="submit"]:hover {
    scale: 1.2;
    background-color: rgba(245, 245, 245, 0.4);
}
/**********/